h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}

body {
  background-color: black;
}

.download-link {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
  font-family: Verdana;
}

h2 {
  font-size: 42px;
  font-family: Verdana;
  color: white;
  text-align: center;
}


h3 {
  font-family: Verdana;
  font-size: 21px;
  color: grey;
  text-align: center;
}

#phone-vid {
  text-align: center;
}

#camp {
  padding-bottom: 25px;
  padding-top: 5px;
  text-align: center;
}

#icon {
  text-align: center;
}

h4 {
  font-family: Verdana;
  font-size: 21px;
  color: grey;
  text-align: right;
}
